name: Update Docker Images

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  variables:
    name: Get version of base image
    runs-on: ubuntu-24.04
    outputs:
      ubi_version: ${{ steps.version.outputs.ubi_version }}
      nginx_version: ${{ steps.version.outputs.nginx_version }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set Base image version
        id: version
        run: |
          ubi=$(grep "FROM redhat/ubi9-minimal" < Dockerfile | awk -F" " '{print $2}')
          nginx=$(grep -m1 "FROM nginx:" < Dockerfile | awk -F"[: ]" '{print $3}')
          echo "ubi_version=${ubi}" >> $GITHUB_OUTPUT
          echo "nginx_version=${nginx}" >> $GITHUB_OUTPUT

  check:
    name: Check if updates are needed
    runs-on: ubuntu-24.04
    needs: variables
    steps:
      - name: Check if update available
        id: update
        uses: lucacome/docker-image-update-checker@03e3f8ff4b69a3bf845e2f6b56f0e0b0ad7e1d1e # v3.0.1
        with:
          base-image: ${{ needs.variables.outputs.ubi_version }}
          image: nginxcontrib/nginx-ubi:${{ needs.variables.outputs.nginx_version }}
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: update
        if: ${{ steps.update.outputs.needs-updating == 'true' }}
